.nav {
  
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2rem;
}

.ullcontainer {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    justify-content: center;
        align-items: center;
}

.menuContainer{
    display: none;
}

.menu {
   
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    /* Shadow effect */
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.menu:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    /* Slightly stronger on hover */
}

.menuContainer.active {
    display: flex;
}

.menuContainer.nonactive {
    display: none;
}

#menuIcostyle.active {
    display: flex;
}

#menuIconstyle.nonactive {
    display: none;
}

#closeIcon {
    display: none;
}

#closeIcon.active {
    display: flex;
}

#closeIcon.nonactive {
    display: none;
}



a.ull{
    font-size: 14px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;text-decoration: none;
            color: white;
            font-family: 'Poppins', sans-serif;
            letter-spacing: 0.2rem;
}
.menu{
    position: absolute;
   display: flex;
  padding: 20px;
display: flex;
    flex-direction: column;
    background-color: hsl(0 0% 0%/0.5);
    right: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contactbutton{
    background-color: #007BFF;
    background: linear-gradient(135deg, #007BFF 0%, #006fBE 50%, #66B2FF 100%);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 120px;
}